@using System.Security.Claims;
@{
    Layout = "LayoutMain";
}

<center>
    <div class="card py-4 px-2" style="width: 300px">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <h4>
                        Hola
                        <span class="text-info">
                            @(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Name).Value)
                        </span>
                    </h4>
                    <hr />
                    <a href="/Usuarios"><button class="btn btn-dark btn-abm-list">Usuarios</button></a>
                    <br />
                    <a href="/Reservas"><button class="btn btn-dark btn-abm-list">Reservas</button></a>
                    <br />
                    <a href="/Alojamientos"><button class="btn btn-dark btn-abm-list">Alojamientos</button></a>

                </section>
            </div>
        </div>
    </div>
</center>