@using System.Security.Claims;
@{
    Layout = "LayoutMain";
}

<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <h4>
                        Hola
                        @(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Name).Value)
                    </h4>
                    <br />
                    <a href="/Usuarios"><button class="btn btn-dark btn-abm-list">Usuarios</button></a>
                    <br />
                    <a href="/Reservas"><button class="btn btn-dark btn-abm-list">Reservas</button></a>
                    <br />
                    <a href="/Cabañas"><button class="btn btn-dark btn-abm-list">Cabañas</button></a>
                    <br />
                    <a href="/Hoteles"><button class="btn btn-dark btn-abm-list">Hoteles</button></a>

                </section>
            </div>
        </div>
    </div>
</center>