@{
    Layout = "LayoutMain";
}
@model plataformasGrupo5TPFinal.ViewModels.CambioPasswordViewModel;
<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form method="post">
                        <h4>Cambiar contraseña</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group text-left">
                            <label asp-for="PasswordActual"></label>
                            <input asp-for="PasswordActual" class="form-control" />
                            <span asp-validation-for="PasswordActual" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="NuevaPassword"></label>
                            <input asp-for="NuevaPassword" class="form-control" />
                            <span asp-validation-for="NuevaPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group text-left">
                            <label asp-for="ConfirmarPassword"></label>
                            <input asp-for="ConfirmarPassword" class="form-control" />
                            <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Actualizar contraseña</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</center>
